<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Signup </title>
    <!-- Bootstrap core CSS-->
    <!--<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <!--&lt;!&ndash; Custom fonts for this template&ndash;&gt;-->
    <!--<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/signup.css">
    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="/stylesheets/sb-admin.css">
</head>

<body>
<% include navbar.ejs %>
<% if(locals.FlashMessage){%>
<div class="alert alert-danger">
    <%= locals.FlashMessage%>
</div>
<%}%>
<div class="container">
    <div class="card card-register mx-auto mt-5 bg-dark ">
        <div class="card-header">Register an Account</div>
        <div class="card-body">
            <form class="was-validated" id="regis" method="post">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="exampleInputName">First name</label>
                            <input name="fname" class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Enter first name" required>
                        </div>
                        <div class="col-md-6">
                            <label for="exampleInputLastName">Last name</label>
                            <input name="lname" class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="Enter last name" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input name="email" class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" placeholder="Enter username" required>
                </div>
                <div class="form-group">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="exampleInputPassword1">Password</label>
                            <input name="pass" class="form-control" id="exampleInputPassword1" type="password" placeholder="Password" required>
                        </div>
                        <div class="col-md-6">
                            <label for="exampleConfirmPassword">Confirm password</label>
                            <input name="cpass" class="form-control" id="exampleConfirmPassword" type="password" placeholder="Confirm password" required>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary btn-block" value="Register">
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="/auth/login">Login Page</a>
            </div>
        </div>
    </div>
</div>




<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<script type="text/javascript">
  $().ready(function() {
    // Initialize form validation on the registration form.
    // It has the name attribute "registration"
    $("#regis").validate({
      errorClass: "error",
      // Specify validation rules
      rules: {
        // The key name on the left side is the name attribute
        // of an input field. Validation rules are defined
        // on the right side
        fname: "required",
        lname: "required",
        email: {
          required: true,
          minelength: 5
          // Specify that email should be validated
          // by the built-in "email" rule email: false
        },
        pass: {
          required: true,
          minlength: 5
        },
        cpass:{
          required: true,
          equalTo: "#exampleInputPassword1"
        }
      },
      // Specify validation error messages
      messages: {
        fname: "Please enter your firstname.",
        lname: "Please enter your lastname.",
        pass: {
          required: "Please provide a password.",
          minlength: "Your password must be at least 5 characters long."
        },
        email: "Your username must be atleast 5 characters long.",
        cpass: "Passwords do not match."
      },
      // Make sure the form is submitted to the destination defined
      // in the "action" attribute of the form when valid
      submitHandler: function(form) {
        form.submit();
      }
    });
  });
</script>
</body>

</html>
