.vcenter {
    margin-top: 10%;
    vertical-align: middle;
}
small{
    position: relative;
    left: 9.5em;
}
.centerize{
    width: 30%;
}
.bar{
    width: 25em;
    height: 25%;
    padding-top: 5%;
    padding-left: 3.5%;
    padding-right:3%;
    padding-bottom:5%;
    color: #e3f2fd;
}
